.header {
  backdrop-filter: blur(2px);
  z-index: 23;
  top: 0px;
  border-radius: 0px;
  border: 0px;
  transition: width 0.8s, top 0.8s, border-radius 0.8s, padding-bottom 0.8s,
    padding-top 0.8s, border 0.8s ease-out;
}

.header.sticky {
  position: fixed;
  top: 1%;
  width: 60%;
  border-radius: 50px;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border: 1px solid black;
}

.profile-picture {
  border-radius: 50%;
  float: left;
  transform-style: preserve-3d;
  transform: translate(-0%, -0%) perspective(600px) rotateY(0deg) rotateX(0deg);
}

.firstName-highlight {
  color: #4c8df5;
}

.firstNameSpacer {
  margin: 0px 0px 0px 10px;
}

#aboutMeSection {
  width: 95%;
  justify-content: center;
  display: flex;
  margin-left: 1vw;
  flex-flow: column;
}

.page-sections ul {
  display: inline;
}

.page-sections ul li {
  float: left;
  font-size: 1.2em;
}

.page-sections ul li:nth-child(1) ~ * {
  margin-left: 30px;
}

.list-none li {
  cursor: pointer;
}

.list-none li:hover {
  color: #4c8df5;
}

.custom-type-animation-cursor::after {
  content: "|";
  animation: cursor 1.1s infinite step-start;
}

@keyframes cursor {
  50% {
    opacity: 0;
  }
}

@media screen and (max-width: 1570px) {
  .header.sticky {
    width: 75%;
    padding: 1rem 1.5rem;
  }
}

@media screen and (max-width: 1280px) {
  .profile-picture {
    width: 50px;
  }

  .profile-picture-container span {
    font-size: 1.3em;
  }

  .page-sections ul li {
    font-size: 1em;
  }
}

@media screen and (max-width: 1120px) {
  .header.sticky {
    width: 85%;
    padding: 1rem 1.5rem;
  }
}

@media screen and (max-width: 1080px) {
  .header {
    padding: 2rem 1.5rem;
  }
  .profile-picture-container {
    display: none !important;
  }
}

@media screen and (max-width: 970px) {
  .header.sticky {
    width: 95%;
    padding: 1rem 1.5rem;
  }
}

@media screen and (max-width: 899px) {
  .header.sticky {
    width: 95%;
    padding: 1rem 1.5rem;
    top: 4%;
  }
  .profile-picture-container {
    display: flex !important;
  }

  .firstNameSpacer {
    margin: 0px 5px 0px 10px;
  }
}

@media screen and (max-width: 750px) {
  #job-title-container {
    margin-left: 0px !important;
  }
}

@media screen and (max-width: 695px) {
  .page-sections ul li {
    font-size: 1.1em;
  }

  .page-sections ul li:nth-child(1) ~ * {
    margin-left: 15px;
  }
}

@media screen and (max-width: 500px) {
  #articlesSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }

  #articlesSection h1 {
    width: 100%;
  }

  #projectsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }

  #projectsSection h1 {
    width: 100%;
  }

  #skillsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }

  #skillsSection h1 {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .navbarcontent header {
    padding-left: 10px;
    padding-right: 10px;
  }
}
