@media screen and (max-width: 1746px) {
  #skillsSection {
    width: 60%;
  }
}

@media screen and (max-width: 1536px) {
  #skillsSection {
    width: 69%;
  }
}

@media screen and (max-width: 1536px) {
  #skillsSection {
    width: 69%;
  }
}

@media screen and (max-width: 1280px) {
  #skillsSection {
    width: 80%;
  }
}

@media screen and (max-width: 980px) {
  #skillsSection {
    width: 90%;
  }
}

@media screen and (max-width: 780px) {
  .skills-container {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
}

@media screen and (max-width: 500px) {
  .skills-container {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
}

@media screen and (max-width: 500px) {
  .skills-container {
    width: 75% !important;
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
}

@media screen and (max-width: 400px) {
  .skills-container {
    width: 95% !important;
  }
}
